@import '../../index.css';

.banner{
    background: var(--azul-escuro);
    display: flex;
    align-items: center;
    height: 70vh;
}

.presentation{
    color: var(--branco);
    margin-left: 5%;
    width: 45%;
}

.presentation h1{
    font-family: var(--fonte-secundaria);
    font-size: 3em;
}

.presentation p{
    font-family: var(--fonte-principal);
    font-size: 1.5em;
    line-height: 1.2em;
}

.button-presentation{
    display: flex;
    gap: 5em;
    padding-top: 2em;
}

.button-presentation a{
    color: black;
    background-color: var(--azul-medio);
    border-radius: 30px;
    font-family: var(--fonte-principal);
    font-size: 1.1em;
    font-weight: 500;
    padding: 0.9em;
    transition: 0.5s;
}

.button-presentation a:hover{
    color: var(--branco);
    background-color: var(--azul-hover);
}

.images{
    margin-right: 5%;
    width: 45%;
}

.images img{
    border-radius: 50%;
    margin-left: 25%;
    width: 65%;
}

@media screen and (max-width:800px) {
    .banner{
        flex-direction: column;
        gap: 3em;
    }
    .presentation{
        text-align: center;
        margin-left: 0;
        width: 80%;
    }
    .images{
        margin-right: 0;
        width: 60%;
    }
    .images img{
        margin-left: 20%;
    }
}

@media screen and (max-width:500px) {
    .banner{
        flex-direction: column;
        gap: 3em;
    }
    .presentation{
        text-align: center;
        width: 90%;
    }
    .images{
        width: 80%;
    }
}

@media screen and (max-width:375px) {
    .banner{
        flex-direction: column;
        gap: 3em;
        margin-bottom: 2em;
    }
    .presentation{
        text-align: center;
        width: 90%;
    }
    .presentation h1{
        font-size: 2.5em;
    }
    .presentation p{
        font-size: 1.35em;
    }
    .images{
        width: 90%;
    }
}